{% extends 'base.html.twig' %}

{% block title %}Liste Panier{% endblock %}

{% block body %}
    <h1>Liste Panier</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Date d'achat</th>
                <th>Etat</th>
            </tr>
        </thead>
        <tbody>
        {% for panier in paniers %}
            <tr>
                <td>{{ panier.id }}</td>
                <td>{{ panier.utilisateur ? panier.dateAchat|date('Y-m-d H:i:s') : ''}}</td>
                <td>{{ panier.etat ? '<i class="fa-solid fa-check" style="color:green;"></i>' : '<i class="fa-solid fa-xmark" style="color:red;"></i>' }}</td>
                <td>
                    <a href="{{ path('contenu_panier_index', {'id': panier.contenuPanier.id}) }}">show</a>
                    <a href="{{ path('home', {'id': panier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('panier_new') }}">Créer un nouveau panier</a>
{% endblock %}