{% extends 'base.html.twig' %}

{% block title %}{{ 'panier.newTitle'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'panier.newH1'|trans }}</h1>

    {{ include('panier/_form.html.twig') }}

    <a href="{{ path('panier_index') }}">{{ 'panier.newReturnList'|trans }}</a>
{% endblock %}