{% extends 'base.html.twig' %}

{% block title %}{{ 'produit.indexTitle'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Liste des produits' }}</h1>

    {% if produits is not empty %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'produit.indexNom'|trans }}</th>
                <th>{{ 'produit.indexDescription'|trans }}</th>
                <th>{{ 'produit.indexPrix'|trans }}</th>
                <th>{{ 'produit.indexStock'|trans }}</th>
                <th>{{ 'produit.indexPhoto'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for p in produits %}
                <tr>
                    <td>{{ p.nom }}</td>
                    <td>{{ p.description }}</td>
                    <td>{{ p.prix }}</td>
                    <td>{{ p.stock }}</td>
                     <td>
                        {% if p.photo is not null %}
                            <img src="{{ asset('/uploads/' ~ p.photo ) }}" alt="" style="width:100px">
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('produit_show', {'id':p.id}) }}">{{ 'produit.indexAfficher'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <p>{{ 'produit.indexNoFoundProd'|trans }}</p>
    {% endif %}

{% endblock %}
