{% extends 'base.html.twig' %}

{% block title %}{{ 'contenuPanier.indexTitle'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'contenuPanier.indexH1'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'contenuPanier.indexId'|trans }}</th>
                <th>{{ 'contenuPanier.indexNom'|trans }}</th>
                <th>{{ 'contenuPanier.indexQuantite'|trans }}</th>
                <th>{{ 'contenuPanier.indexPrix'|trans }}</th>
                <th>{{ 'contenuPanier.indexMontant'|trans }}</th>
                <th>{{ 'contenuPanier.indexActions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for contenu_panier in contenu_paniers %}
            <tr>
                <td>{{ contenu_panier.id }}</td>
                <td>{{ contenu_panier.produit.nom }}</td>
                <td>{{ contenu_panier.quantite }}</td>
                <td>{{ contenu_panier.produit.prix }} {{ 'contenuPanier.euro'|trans }}</td>
                <td>{{ contenu_panier.getMontant}} {{ 'contenuPanier.euro'|trans }}</td>
                <td>
                    <a href="{{ path('contenu_panier_show', {'id': contenu_panier.id}) }}"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('contenu_panier_edit', {'id': contenu_panier.id}) }}"><i class="fa-solid fa-trash" style="color:red;margin-left:6px;"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{{ 'contenuPanier.indexVoidPanier'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        {% if contenu_paniers != null %}
        {{ 'contenuPanier.indexSousTotal'|trans }} : <b>{{ contenu_paniers.panier.getTotal() }} {{ 'contenuPanier.indexEuro'|trans }}</b>
        <a href="{{ path('panier_achat') }}" class="btn btn-warning my-2 my-sm-0" style="margin-left:20px;";>{{ 'contenuPanier.indexGoCommande'|trans }}</a>
        {% endif %}
    </div>
{% endblock %}
