{% extends 'base.html.twig' %}

{% block title %}{{ 'contenuPanier.newTitle'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'contenuPanier.newH1'|trans }}</h1>

    {{ include('contenu_panier/_form.html.twig') }}

    <a href="{{ path('contenu_panier_index') }}">{{ 'contenuPanier.newReturnList'|trans }}</a>
{% endblock %}
