{% extends 'base.html.twig' %}

{% block title %}Historique de commande
{% endblock %}

{% block body %}
	<h1>Historique de commande</h1>

	<div class="row">
		<div class="col-md-8 order-md-2 mb-8">
			{% if contenu_panier is not empty %}
				<h4 class="d-flex justify-content-between align-items-center mb-3">
					<span class="text-muted">Le détail de votre commande</span>
				</h4>
				<ul class="list-group mb-3">
					{% set total = 0 %}
					{% for p in contenu_panier %}
						{% set totalProduit = 0 %}
						{% set totalProduit = p.produit.prix * p.quantite %}
						{% set total = total + (p.produit.prix * p.quantite) %}
                        {{ panier.dateAchat|date("d/m/Y h:i:s") }}
						<li class="list-group-item d-flex justify-content-between lh-condensed">
							<div>
								<h6 class="my-0">{{ p.produit.nom }}</h6>
								<small class="text-muted">{{ p.produit.prix }}
									€ x
									{{ p.quantite }}</small>
							</div>
							<span class="text-muted">
								{{ totalProduit}}
								€
							</span>
						</li>
					{% endfor %}
					<li class="list-group-item d-flex justify-content-between">
						<span class="">Nombre total de produits : <b>{{ contenu_panier|length }}</b></span>
					</li>					
					<li class="list-group-item d-flex justify-content-between" style="font-size:20px;padding-bottom:40px;padding-top:20px;">
						<span>Montant Total: </span>
						<span style="color:#b12704;font-weight:bold;">{{ total }} €</span>
					</li>
				</ul>
			</div>
			<div class="col-md-8 order-md-1">
			{% else %}
				<p>Votre panier est vide</p>
                <a href="{{ path('produit_index') }}" class="btn btn-primary">Continuez vos achats</a>
			{% endif %}
		</div>
	</div>
{% endblock %}