{% extends 'base.html.twig' %}

{% block title %}{{ 'user.indexTitle'|trans }}{% endblock %}


{% block body %}
    <h1 style="padding-bottom:30px;">{{ 'user.indexH1'|trans }}{</h1>

    <div style="font-size:20px;font-weight:bold;padding-bottom:20px;color:blue;">{{ 'user.indexBonjourM'|trans }}{ {{ app.user.nom }} {{ app.user.prenom }} {{ 'user.indexBienvenue'|trans }} </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'user.indexId'|trans }}</th>
                <th>{{ 'user.indexNom'|trans }}</th>
                <th>{{ 'user.indexPrenom'|trans }}</th>
                <th>{{ 'user.indexEmail'|trans }}</th>
                <th>{{ 'user.indexPassword'|trans }}</th>
                <th>{{ 'user.indexRoles'|trans }}</th>
                <th>{{ 'user.indexActions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% if app.user %}
            <tr>
                <td>{{ app.user.id }}</td>
                <td>{{ app.user.nom }}</td>
                <td>{{ app.user.prenom }}</td>
                <td>{{ app.user.email }}</td>
                <td>{{ app.user.password }}</td>
                <td>{{ app.user.roles ? app.user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': app.user.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'user.indexNoUserFound'|trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>





    <h1 style="padding-bottom:30px;padding-top:30px;">{{ 'user.indexH12'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'user.indexId2'|trans }}</th>
                <th>{{ 'user.indexMontant2'|trans }}</th>
                <th>{{ 'user.indexDate2'|trans }}</th>
                <th>{{ 'user.indexActions2'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for c in commandes %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ 'user.indexMontantAFaire'|trans }}</td>
                <td>{{ c.dateAchat|date('d/m/Y h:i:s') }}</td>
                <td>
                    <a href="{{ path('user_commande', {'id': c.id}) }}"><i class="fa-solid fa-eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'user.indexNoCommandFound'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
