{% extends 'base.html.twig' %}

{% block title %}{{ 'user.newTitle'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'user.newH1'|trans }}</h1>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">{{ 'user.newReturnList'|trans }}</a>
{% endblock %}
