{% extends 'base.html.twig' %}

{% block title %}Liste des paniers non achetés{% endblock %}


{% block body %}

    <h1 style="padding-bottom:30px;padding-top:50px;">{{ 'user.userTitle'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'user.userId'|trans }}</th>
                <th>{{ 'user.userNom'|trans }}</th>
                <th>{{ 'user.userPrenom'|trans }}</th>
                <th>{{ 'user.userEmail'|trans }}</th>
                <th>{{ 'user.userPassword'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for u in user %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.nom }}</td>
                <td>{{ u.prenom }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.password }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{ 'user.userAucun'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
